@import "../js/node_modules/slick-carousel/slick/slick.css";
@import "../js/node_modules/slick-carousel/slick/slick-theme.css";

.recipes_results {
  margin-top: 20px;
  background-color: #c0ec9b;
}

.recipes_results li {
  list-style: none;
  flex: 0 1 15%;
  padding-left: 10px;
  padding-right: 10px;
}

.recipes_results li h6 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  min-height: 40px;
  position: relative;
}

.recipes_results li h6 a {
  color: #ff6138;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.recipes_results li p {
  font-size: 0.8rem;
  line-height: 1.3;
  text-align: justify;
  margin-top: 10px;
}

.slick-arrow {
  background-color: #ff6138;
  border-radius: 10px;
}

.slick-arrow:hover {
  border: 0;
  color: #ff6138;
}
